$second-blue: #00002C
$white: #ffffff
$magenta: #FF267E
$green: #05C48A
$gray: #EDEDED
$yellow: #FFCE64
$second-yellow: #C4A505

$font-suisse-intl-reg: SuisseIntl-Regular, sans-serif
$font-suisse-intl-med: SuisseIntl-Medium, sans-serif
$font-suisse-intl-semib: SuisseIntl-SemiBold, sans-serif

body
  overscroll-behavior: none
  background: $second-blue
  -webkit-tap-highlight-color: transparent
  img
    max-width: 100%
    height: auto

body.light, body.dark
  background: $second-blue

.hide
  display: none !important

.btn
  border-radius: 10px
  background: linear-gradient(180deg, rgba(5, 196, 138, 0.80) 31.96%, rgba(0, 109, 76, 0.70) 90%)
  padding: 23px 70px 21px 70px
  position: relative
  transition: transform .3s ease-in-out
  &::before
    content: ""
    display: block
    z-index: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 50px
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.00) 100%)
    width: 95%
    filter: blur(2px)
    height: 90%
  &::after
    //content: "крок 1"
    display: inline-block
    color: $white
    border-radius: 20px
    background: linear-gradient(136deg, rgba(0, 0, 0, 0.10) 2.23%, rgba(0, 0, 0, 0.05) 100%)
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.20), 0px 1px 2px 0px rgba(255, 255, 255, 0.10) inset
    backdrop-filter: blur(10px)
    position: absolute
    top: 0
    right: 0
    transform: translate(50%, -50%)
    text-transform: uppercase
    text-align: center
    font-family: $font-suisse-intl-semib
    font-size: 16px
    line-height: 30px
    letter-spacing: .08em
    padding: 0 15px
  .btn-text
    color: $yellow
    font-size: 20px
    letter-spacing: .2em
    text-transform: uppercase
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    font-family: $font-suisse-intl-semib
    position: relative
    z-index: 1
  &:hover
    transform: scale(1.05)
    cursor: pointer
.title
  font-size: 48px
  text-transform: uppercase
  letter-spacing: .14em
  background: linear-gradient(90deg, #E0B631 33.55%, #AF7E00 99.83%)
  background-clip: text
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  font-family: $font-suisse-intl-med
  text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
  z-index: 1
  text-align: center
  opacity: 0
  transition: opacity .4s ease-in-out
.fav-page
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background: $second-blue
  padding: 0 0 20px 0
  overflow: hidden
.promo
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  background: url("https://fav-prom.com/html/shakhtar-predictor/img/promo/promo-desc.jpg") no-repeat 50% 0/cover
  padding: 50px 60px 25px 50px
  min-height: 44vw
  position: relative
  @media screen and (max-width: 1050px)
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/promo/promo-tab.jpg") no-repeat 100% 0/cover
  @media screen and (max-width: 600px)
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/promo/promo-mob.jpg") no-repeat 50% 70px/cover
  &::before
    content: ""
    display: block
    width: 100%
    height: 25%
    position: absolute
    bottom: -2px
    left: 0
    z-index: 0
    background: linear-gradient(0deg, #00002C 0%, rgba(0, 0, 44, 0.00) 100%)
  &__title
    width: 575px
    height: 280px
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/promo/title-desc.png") no-repeat 0 0/cover
    background-size: 100% 100%
    display: flex
    justify-content: flex-end
    align-items: flex-start
    padding: 25px 100px 0 0
    margin-left: -15px
    margin-top: auto
    @media screen and (max-width: 600px)
      background: url("https://fav-prom.com/html/shakhtar-predictor/img/promo/title-mob.png") no-repeat 0 0/cover
    &-text
      display: inline-block
      color: white
      font-size: 22px
      line-height: 32px
      font-family: $font-suisse-intl-med
      letter-spacing: .02em
  &__match
    display: flex
    align-items: center
    justify-content: center
    margin-top: 20px
    &-team
      color: $gray
      font-size: 40px
      letter-spacing: .02em
      font-family: $font-suisse-intl-med
      text-transform: uppercase
    &-decor
      width: 56px
      height: 47px
      background: url("https://fav-prom.com/html/shakhtar-predictor/img/promo/decor.png") no-repeat 0 0/contain
      margin: 0 15px
  &__date
    display: flex
    align-items: center
    justify-content: center
    width: 212px
    height: 46px
    border-radius: 10px
    border: 1px solid $gray
    margin: 30px 0 100px 0
    &-item
      width: 50%
      height: 100%
      font-family: $font-suisse-intl-med
      font-size: 24px
      letter-spacing: .08em
      color: $gray
      &:nth-child(1)
        background: $magenta
        border-bottom-left-radius: 9px
        border-top-left-radius: 9px
        text-align: right
        padding: 6px 18px 5px 10px
      &:nth-child(2)
        background: transparent
        border-bottom-right-radius: 9px
        border-top-right-radius: 9px
        text-align: left
        padding: 6px 10px 5px 15px
  &__bottom
    max-width: 350px
    margin-bottom: auto
    opacity: .6
    &-title, &-text
      color: $white
      letter-spacing: 0.02em
    &-title
      font-family: $font-suisse-intl-med
      font-size: 16px
      line-height: 32px
      text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
      text-transform: uppercase
    &-text
      font-size: 10px
      line-height: 18px
      font-family: $font-suisse-intl-reg
.prize
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  padding: 30px
  width: 100%
  position: relative
  &::before
    content: ""
    display: block
    width: 355px
    height: 420px
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/prize/left-decor-desc.png") no-repeat 0 0/contain
    position: absolute
    left: 0
    top: 100px
    z-index: 0
    opacity: 0
    transition: opacity .5s ease-in-out
  &:after
    content: ""
    display: block
    width: 327px
    height: 425px
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/prize/right-decor-desc.png") no-repeat 0 0/contain
    position: absolute
    right: 0
    top: 100px
    z-index: 0
    opacity: 0
    transition: opacity .5s ease-in-out

  &__title
    z-index: 1
  &__subtitle
    margin-top: 15px
    text-transform: uppercase
    color: $white
    font-size: 30px
    letter-spacing: .14em
    font-family: $font-suisse-intl-semib
    z-index: 1
    text-align: center

  &__img
    width: 806px
    height: 174px
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/prize/prize-desc.png") no-repeat 0 0/contain
    margin-top: 30px
    z-index: 1
    @media screen and (max-width: 1050px)
      background: url("https://fav-prom.com/html/shakhtar-predictor/img/prize/prize-mob.png") no-repeat 0 0/contain
  &__text
    max-width: 705px
    text-align: center
    color: $white
    opacity: .7
    font-size: 16px
    line-height: 30px
    letter-spacing: .02em
    font-family: $font-suisse-intl-reg
    text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
    margin-top: 15px
    z-index: 1
    p
      font-family: inherit
  &__btn
    margin-top: 20px
    z-index: 1
.guide
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  width: 100%
  padding: 30px
  min-height: 550px
  background: url("https://fav-prom.com/html/shakhtar-predictor/img/guide/guide-desc.png") no-repeat 50% 100%/cover
  background-size: 1920px 550px
  position: relative
  @media screen and (max-width: 1050px)
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/guide/guide-tab.png") no-repeat 50% 100%/cover
    background-size: 100% 100%
  &__decor
    display: none
  &::before
    content: ""
    display: block
    width: 100%
    height: 25%
    position: absolute
    top: 120px
    left: 0
    z-index: 0
    background: linear-gradient(180deg, #00002C 0%, rgba(0, 0, 44, 0.00) 100%)
  &::after
    display: block
    content: ""
    width: 100%
    height: 2px
    background: linear-gradient(90deg, #00002C 0%, #E0B632 50%, #00002C 100%)
    position: absolute
    bottom: 0
    left: 0
  &__list
    width: fit-content
    display: flex
    align-items: flex-start
    justify-content: center
    margin-top: 70px
    gap: 10px
    z-index: 1
    &-popup
      display: none
      position: absolute
      top: 50px
      right: -30px
      width: 380px
      height: 216px
      background: linear-gradient(208deg, rgba(47, 52, 45, 0.40) 31.96%, rgba(16, 23, 18, 0.40) 90%)
      backdrop-filter: blur(40px)
      padding: 30px 40px 30px 30px
      border: 1px solid $yellow
      border-radius: 20px
      z-index: 5
      &-scroll
        height: 156px
        overflow-y: scroll
        display: flex
        flex-direction: column
        gap: 5px
        scrollbar-width: auto
        padding-right: 5px
        &::-webkit-scrollbar
          width: 1px
          background: transparent

        &::-webkit-scrollbar-thumb
          width: 1px
          background: $second-blue

        h2, h3, h4, h5, h6
          text-transform: uppercase
          letter-spacing: .02em
          background: linear-gradient(90deg, #E0B631 33.55%, #AF7E00 99.83%)
          background-clip: text
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
          font-family: $font-suisse-intl-med
          font-size: 16px
        p, strong, span
          font-size: 16px
          color: $white
          line-height: 25px
          font-family: $font-suisse-intl-reg
      &-close
        width: 20px
        height: 20px
        position: absolute
        top: 20px
        right: 15px
        &:hover
          cursor: pointer
        &::before, &::after
          content: ""
          display: block
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 1px
          background: $white
          transform: rotate(45deg)
        &::after
          transform: rotate(-45deg)

      &.active
        display: flex
    &-btn
      position: absolute
      top: 0
      right: 70px
      z-index: 2
      width: 44px
      height: 44px
      background: url("https://fav-prom.com/html/shakhtar-predictor/img/guide/popup-btn.png") no-repeat 0 0/contain
      transition: transform .3s ease-in-out
      &:hover
        cursor: pointer
        transform: scale(1.1)
    &-item
      width: 325px
      position: relative
      &-num
        z-index: 1
      &-text
        font-size: 18px
        text-transform: uppercase
        letter-spacing: .14em
        background: linear-gradient(90deg, #E0B631 33.55%, #AF7E00 99.83%)
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-family: $font-suisse-intl-med
        text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
        text-align: center
        margin-top: 15px
.predict
  padding: 85px 30px 30px 30px
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  background: $second-blue url("https://fav-prom.com/html/shakhtar-predictor/img/predict/predict-desc.png") no-repeat 50% 100%/cover
  position: relative
  @media screen and (max-width: 1050px)
    background: $second-blue url("https://fav-prom.com/html/shakhtar-predictor/img/predict/predict-tab.png") no-repeat 50% 100%/cover
  @media screen and (max-width: 600px)
    background: $second-blue url("https://fav-prom.com/html/shakhtar-predictor/img/predict/predict-mob.png") no-repeat 50% 100%/cover
  &::before, &::after
    content: ""
    display: block
    width: 100%
    height: 25%
    position: absolute
    left: 0
    z-index: 0
  &::after
    background: linear-gradient(180deg, #00002C 0%, rgba(0, 0, 44, 0.00) 100%)
    top: 0
  &::before
    bottom: -2px
    background: linear-gradient(0deg, #00002C 40%, rgba(0, 0, 44, 0.00) 100%)
    height: 35%
  &__icons
    display: flex
    align-items: center
    justify-content: center
    gap: 10px
    position: relative
    z-index: 2
    margin-top: 20px
    &-item
      font-family: $font-suisse-intl-med
      font-size: 24px
      line-height: 24px
      color: $yellow
      text-transform: uppercase
      text-align: center
      letter-spacing: .1em
      padding: 15px 32px 13px 32px
      background: linear-gradient(208deg, rgba(47, 52, 45, 0.10) 31.96%, rgba(16, 23, 18, 0.10) 90%)
      backdrop-filter: blur(40px)
      border-radius: 10px
      border: 1px solid rgba($yellow, .4)
      &._current
        background: linear-gradient(188deg, rgba(65, 72, 62, 0.50) 35.97%, #DBB02C 214.86%)
      &:hover
        cursor: pointer

  &__move
    position: absolute
    width: 90%
    max-width: 1350px
    display: flex
    justify-content: space-between
    z-index: 3
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    pointer-events: none
    &-left, &-right
      width: 66px
      height: 106px
      transition: transform .2s ease-in-out
      user-select: none
      pointer-events: initial
      &:hover
        transform: scale(1.05)
        cursor: pointer
    &-left
      background: url("../img/predict/move-left.png") no-repeat 0 0/contain
      @media screen and (max-width: 950px)
        background: url("../img/predict/move-left-mob.png") no-repeat 0 0/contain
        width: 48px
        height: 48px
    &-right
      background: url("../img/predict/move-right.png") no-repeat 0 0/contain
      @media screen and (max-width: 950px)
        background: url("../img/predict/move-right-mob.png") no-repeat 0 0/contain
        width: 48px
        height: 48px
  &__title
    z-index: 1
  &__lock
    display: none
  &__done
    display: none
  &__counter
    margin-top: 50px
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    opacity: 0
    z-index: -1
    //transition: all .2s ease-in-out
    .left-anim
      .front-img
        transform: perspective(300px) rotateY(180deg)
        transition: transform 1s ease-in-out
      .back-img
        transform: perspective(300px) rotateY(0deg)
        transition: transform 1s ease-in-out
    .right-anim
      .front-img
        transform: perspective(300px) rotateY(-180deg)
        transition: transform 1s ease-in-out
      .back-img
        transform: perspective(300px) rotateY(-360deg)
        transition: transform 1s ease-in-out
    &:nth-child(1)
      .predict__team1
        .front-img
          background: url("../img/predict/left-team-desc1.png") no-repeat 0 0/contain
          //transform: perspective(400px) rotateY(80deg)
          @media screen and (max-width: 1050px)
            background: url("../img/predict/left-team-mob1.png") no-repeat 0 0/contain
      .predict__team2
        .front-img
          background: url("../img/predict/right-team-desc1.png") no-repeat 0 0/contain
          @media screen and (max-width: 1050px)
            background: url("../img/predict/right-team-mob1.png") no-repeat 0 0/contain
    &:nth-child(2)
      .predict__team1
        .front-img
          background: url("../img/predict/left-team-desc2.png") no-repeat 0 0/contain
          //transform: perspective(400px) rotateY(80deg)
          @media screen and (max-width: 1050px)
            background: url("../img/predict/left-team-mob2.png") no-repeat 0 0/contain
      .predict__team2
        .front-img
          background: url("../img/predict/right-team-desc2.png") no-repeat 0 0/contain
          @media screen and (max-width: 1050px)
            background: url("../img/predict/right-team-mob2.png") no-repeat 0 0/contain
    &:nth-child(3)
      .predict__team1
        .front-img
          background: url("../img/predict/left-team-desc3.png") no-repeat 0 0/contain
          //transform: perspective(400px) rotateY(80deg)
          @media screen and (max-width: 1050px)
            background: url("../img/predict/left-team-mob3.png") no-repeat 0 0/contain
      .predict__team2
        .front-img
          background: url("../img/predict/right-team-desc3.png") no-repeat 0 0/contain
          @media screen and (max-width: 1050px)
            background: url("../img/predict/right-team-mob3.png") no-repeat 0 0/contain
    &:nth-child(4)
      .predict__team1
        .front-img
          background: url("../img/predict/left-team-desc4.png") no-repeat 0 0/contain
          //transform: perspective(400px) rotateY(80deg)
          @media screen and (max-width: 1050px)
            background: url("../img/predict/left-team-mob4.png") no-repeat 0 0/contain
      .predict__team2
        .front-img
          background: url("../img/predict/right-team-desc4.png") no-repeat 0 0/contain
          @media screen and (max-width: 1050px)
            background: url("../img/predict/right-team-mob4.png") no-repeat 0 0/contain
    &:nth-child(5)
      .predict__team1
        .front-img
          background: url("../img/predict/left-team-desc5.png") no-repeat 0 0/contain
          //transform: perspective(400px) rotateY(80deg)
          @media screen and (max-width: 1050px)
            background: url("../img/predict/left-team-mob5.png") no-repeat 0 0/contain
      .predict__team2
        .front-img
          background: url("../img/predict/right-team-desc5.png") no-repeat 0 0/contain
          @media screen and (max-width: 1050px)
            background: url("../img/predict/right-team-mob5.png") no-repeat 0 0/contain
    &._lock
      .predict
        &__team1, &__team2
          &-increase, &-decrease
            display: none
        &__lock
          display: flex
          align-items: center
          justify-content: center
          flex-direction: column
          position: relative
          width: 430px
          height: 170px
          background: linear-gradient(90deg, rgba(0, 0, 44, 0.00) 0%, #00002C 49.3%, rgba(0, 0, 44, 0.00) 100%)
          &::before
            content: ""
            display: block
            position: absolute
            top: 0
            left: 50%
            transform: translate(-50%, -50%)
            width: 28px
            height: 35px
            background: url("../img/predict/lock.svg") no-repeat 0 0/contain
            filter: drop-shadow(9px 5px 8px rgba(0, 0, 0, 0.48))

          &-title
            color: $yellow
            text-transform: uppercase
            font-family: $font-suisse-intl-semib
            font-size: 18px
            letter-spacing: .08em
            text-align: center
            max-width: 270px
            text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
          &-data
            margin-top: 10px
            color: $white
            font-size: 38px
            letter-spacing: .08em
            font-family: $font-suisse-intl-med
            text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)

        &__score
          display: none
    &._done
      .predict
        &__team1, &__team2
          &-increase, &-decrease
            display: none
        &__lock, &__score
          display: none
        &__done
          display: flex
          align-items: center
          justify-content: center
          padding-bottom: 10px
          height: 120px
          width: 430px
          background: linear-gradient(90deg, rgba(0, 0, 44, 0.00) 0%, #00002C 49.3%, rgba(0, 0, 44, 0.00) 100%)
          &::before
            content: ''
            display: block
            width: 62px
            height: 84px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            background: url("../img/predict/done.png") no-repeat 0 0/contain
          &-text
            color: $white
            font-family: $font-suisse-intl-med
            font-size: 32px
            letter-spacing: .08em
            text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
            text-transform: uppercase
            z-index: 2

    &._active
      position: relative
      opacity: 1
      z-index: 1
  &__team1, &__team2
    position: relative
    width: 225px
    height: 350px
    display: flex
    align-items: center
    justify-content: space-between
    transform: perspective(300px) rotateY(0deg)
    &-increase, &-decrease
        width: 66px
        height: 66px
        transition: transform .1s ease-in-out
        user-select: none
        z-index: 3
        position: relative
    &-increase
      background: url("https://fav-prom.com/html/shakhtar-predictor/img/btn-plus.png") no-repeat 0 0/contain
      transform: translate(50%, 0)
      &:hover
        cursor: pointer
        transform: translate(50%, 0) scale(1.1)
      &:active
        transform: translate(50%, 0)
    &-decrease
      background: url("https://fav-prom.com/html/shakhtar-predictor/img/btn-minus.png") no-repeat 0 0/contain
      transform: translate(-50%, 0)
      &:hover
        cursor: pointer
        transform: translate(-50%, 0) scale(1.1)
      &:active
        transform: translate(-50%, 0)
    .front-img, .back-img
      width: 100%
      height: 100%
      position: absolute
      overflow: hidden
      backface-visibility: hidden
  &__team1
    .front-img
      transform: perspective(300px) rotateY(0deg)
    .back-img
      transform: perspective(300px) rotateY(-180deg)
  &__team2
    .front-img
      transform: perspective(300px) rotateY(0deg)
    .back-img
      transform: perspective(300px) rotateY(-180deg)

  &__score
    width: 430px
    height: 430px
    display: flex
    align-items: center
    justify-content: center
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/predict/score-decor.png") no-repeat 0 0/contain
    color: $white
    font-size: 54px
    font-family: $font-suisse-intl-semib
    text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
    text-align: center
    letter-spacing: .01em
    gap: 20px
    span
      font-family: inherit
    &-team1, &-team2
      color: $white
      font-size: 54px
      font-family: $font-suisse-intl-semib
      text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
      text-align: center
      letter-spacing: .01em
  &__yourBet
    margin-top: 10px
    color: $gray
    font-size: 18px
    line-height: 30px
    text-align: center
    text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
    font-family: $font-suisse-intl-reg
    z-index: 1
  &__last
    margin-top: 20px
    z-index: 1
    &-title
      color: $yellow
      text-align: center
      font-family: $font-suisse-intl-reg
      font-size: 16px
      line-height: 30px
      letter-spacing: .02em
      text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
    &-score
      display: flex
      align-items: center
      justify-content: center
      gap: 15px
    &-team1, &-team2
      color: $gray
      font-size: 16px
      line-height: 30px
      text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
      font-family: $font-suisse-intl-reg
    &-counter
      color: $yellow
      font-size: 16px
      line-height: 30px
      text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
      font-family: $font-suisse-intl-reg
      span
        font-family: inherit

  &__bet
    margin-top: 18px
    display: flex
    align-items: center
    justify-content: center
    gap: 5px
    &-true, &-false
      background: linear-gradient(208deg, rgba(47, 52, 45, 0.25) 31.96%, rgba(16, 23, 18, 0.25) 90%)
      backdrop-filter: blur(40px)
      font-family: $font-suisse-intl-med
      letter-spacing: 0.02em
      text-transform: uppercase
      font-size: 18px
      line-height: 22px
      border: 1px solid rgba($yellow, .2)
      text-align: center
      border-radius: 10px
      span
        font-family: $font-suisse-intl-med
    &-true
      padding: 17px 45px 15px 56px
      color: $green
    &-false
      padding: 17px 31px 15px 42px
      color: $second-yellow
  &__wrap
    z-index: 1

.table
  padding: 50px 0 0 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  width: 100%
  background: $second-blue url("https://fav-prom.com/html/shakhtar-predictor/img/table/table-desc.png") no-repeat 50% 0/cover
  background-size: auto 1450px
  position: relative
  @media screen and (max-width: 1050px)
    background: $second-blue url("https://fav-prom.com/html/shakhtar-predictor/img/table/table-tab.png") no-repeat 0 0/cover
  @media screen and (max-width: 600px)
    background: $second-blue url("https://fav-prom.com/html/shakhtar-predictor/img/table/table-mob.png") no-repeat 0 0/cover
  &::before
    content: ""
    display: block
    width: 100%
    height: 25%
    background: linear-gradient(180deg, #00002C 0%, rgba(0, 0, 44, 0) 100%)
    position: absolute
    top: -2px
    left: 0
    z-index: 0
  &::after
    content: ""
    display: block
    width: 100%
    height: 25%
    background: linear-gradient(0deg, #00002C 0%, rgba(0, 0, 44, 0) 100%)
    position: absolute
    bottom: -2px
    left: 0
    z-index: 0
  &__pers
    position: absolute
    bottom: 0
    right: 0
    z-index: 0
    width: 390px
    height: 600px
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/table/pers-desc.png") no-repeat 0 0/contain
    opacity: 0
    transition: opacity .4s ease-in-out
  &__cup
    position: absolute
    bottom: 0
    left: 0
    z-index: 0
    width: 390px
    height: 600px
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/table/cup-desc.png") no-repeat 0 0/contain
    opacity: 0
    transition: opacity .4s ease-in-out
  &__btn
    z-index: 1
    //&::after
    //  content: "крок 2"
  &__wrap
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    width: 900px
    background: linear-gradient(193deg, rgba(0, 0, 44, 0.59) 24.19%, rgba(0, 0, 44, 0.89) 95.61%)
    backdrop-filter: blur(50px)
    border-radius: 10px
    border: 1px solid $yellow
    max-height: 550px
    overflow: hidden
    margin-top: 45px
  &__light
    position: absolute
    z-index: 0
    width: 100%
    height: 400px
    top: 60px
    background: url("https://fav-prom.com/html/shakhtar-predictor/img/table/lightning-desc.png") no-repeat 0 0/contain
    opacity: 0
    transition: opacity .4s ease-in-out
  &__title
    z-index: 1
  &__body
    padding: 20px 60px
    width: 100%
    &-scroll
      max-height: 400px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-start
      overflow-y: auto
      scrollbar-width: auto
      &::-webkit-scrollbar-thumb
        width: 3px
        background: $green
      &::-webkit-scrollbar
        background: rgba(0, 0, 0, 0.20)
        width: 3px
  &__head, &__row
    display: flex
    align-items: center
    width: 100%
    &-item
      margin-right: auto
      &:nth-child(1)
        width: 105px
      &:nth-child(2)
        width: 165px
      &:nth-child(3)
        width: 100px
      &:nth-child(4)
        width: 115px
  &__head
    padding: 30px 60px
    border-bottom: 1px solid rgba($white, .12)
    &-item
      color: $white
      font-size: 18px
      letter-spacing: .04em
      font-family: $font-suisse-intl-med
      text-transform: uppercase
  &__row
    border-bottom: 1px solid rgba($white, .12)
    &-item
      color: $white
      font-size: 18px
      font-family: $font-suisse-intl-reg
      padding: 20px 0
    &:nth-child(1)
      .table__row-item
        padding-top: 0
  &__bottom
    max-width: 790px
    text-align: center
    color: $white
    text-shadow: 9px 5px 8px rgba(0, 0, 0, 0.48)
    font-size: 10px
    line-height: 18px
    letter-spacing: .02em
    font-family: $font-suisse-intl-reg
    margin-top: 25px
    opacity: .7
    z-index: 1
  &__btn
    margin-top: 25px

.drop
  max-width: 900px
  margin: auto
  width: 100%
  padding: 50px 10px 0 10px
  .dropdown
    outline: none!important
    cursor: pointer
    position: relative
    width: 100%
    z-index: 1
    text-align: start
    summary::-webkit-details-marker
      display: none
    > summary
      list-style: none
    summary
      padding: 26px 63px 24px 40px
      font-family: $font-suisse-intl-semib
      font-size: 20px
      line-height: 30px
      width: 100%
      outline: none!important
      border: 1px solid $yellow
      position: relative
      display: flex
      align-items: center
      text-transform: uppercase
      user-select: none
      background: linear-gradient(137deg, rgba($white, 0.10) 0%, rgba(255, 255, 255, 0.05) 100%)
      box-shadow: 0 1px 2px 0 rgba($white, 0.10) inset
      backdrop-filter: blur(10px)
      border-radius: 20px
      color: $green
      ::-webkit-details-marker
        display: none
      &:after
        content: ''
        background: url("https://fav-prom.com/html/shakhtar-predictor/img/arrow.png") no-repeat 0 0/contain
        display: inline-block
        width: 31px
        height: 21px
        position: absolute
        right: 26px
        top: 34%
    &[open]
      summary
        &:after
          transform: rotate(180deg)
          opacity: .6
    .drop-txt
      margin-top: 5px
      overflow-wrap: break-word
      padding: 30px 43px 28px 25px
      text-align: start
      cursor: auto
      background: linear-gradient(137deg, rgba($white, 0.1) 0%, rgba($white, 0.05) 100%)
      border-radius: 20px
      backdrop-filter: blur(10px)
      border: 1px solid $yellow
      &-list
        max-height: 500px
        overflow-y: scroll
        padding-right: 20px
        scrollbar-width: auto
        &::-webkit-scrollbar
          background: rgba($white, .3)
          width: 3px
          border-radius: 50px
        &::-webkit-scrollbar-thumb
          position: relative
          border-radius: 50px
          background: $green
      p, h2, h3, h4, h5, h6, strong, span
        margin-bottom: 10px
        font-family: $font-suisse-intl-reg
        display: block
        font-size: 14px
        line-height: 22px
        color: $gray
        &:last-child
          margin-bottom: 0
        a
          color: $green
          text-decoration: underline
          font-family: $font-suisse-intl-reg
          position: relative
          &:hover
            text-decoration: none
      strong
        margin-bottom: 10px
        font-size: 16px
        font-family: $font-suisse-intl-reg
        color: $white
        display: block
      .retreat1
        padding-left: 20px
      .retreat2
        padding-left: 30px
      .circle
        padding-left: 20px
        &:before
          content: ''
          width: 4px
          height: 4px
          background: $white
          border-radius: 50%
          display: inline-block
          margin: 0 5px 3px 0

@keyframes leftLightning
  0%
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%)
  25%
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  80%
    opacity: 0
  85%
    opacity: 1
  90%
    opacity: 0
  95%
    opacity: 1
  100%
    opacity: 0

@keyframes rightLightning
  0%
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%)
  25%
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%)
  80%
    opacity: 0
  85%
    opacity: 1
  90%
    opacity: 0
  95%
    opacity: 1
  100%
    opacity: 0

@keyframes lightningStrike
  0%
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%)
  50%
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
  80%
    opacity: 0
  85%
    opacity: 1
  90%
    opacity: 0
  95%
    opacity: 1
  100%
    opacity: 0

@keyframes fadeIn
  0%
    transform: translate(0, -50%)
    opacity: 0
  100%
    transform: translate(0, 0%)
    opacity: 1

@keyframes fadeInLeft
  0%
    transform: translate(-50%, 0)
    opacity: 0
  100%
    transform: translate(0, 0)
    opacity: 1

@keyframes fadeInRight
  0%
    transform: translate(50%, 0)
    opacity: 0
  100%
    transform: translate(0, 0%)
    opacity: 1

@keyframes showBtn
  from
    opacity: 0
    pointer-events: none
  to
    opacity: 1
    pointer-events: auto

.fadeIn
  animation: fadeIn 1s ease-in-out
  opacity: 1

.fadeInLeft
  animation: fadeInLeft .7s ease-in-out
  opacity: 1

.fadeInRight
  animation: fadeInRight .7s ease-in-out
  opacity: 1

.tableLightning
  .table__light
    animation: lightningStrike 1.7s ease-in-out
    opacity: 1

.prizeLightning
  &::before
    animation: leftLightning 1.3s ease-in-out
    opacity: 1
  &::after
    animation: rightLightning 1.3s ease-in-out
    opacity: 1

.overflow
  overflow: hidden!important

.pointer-none
  pointer-events: none

.block-btn
  pointer-events: none
  filter: grayscale(1)

.showBtn
  animation: 5s ease-in-out showBtn

.you
  background: linear-gradient(180deg, rgba(65, 72, 62, 0.00) 0%, rgba(219, 176, 44, 0.20) 100%)
  border-bottom-color: $yellow
  .table__row-item
    &:nth-of-type(1)
      &:after
        content: "ти"
        font-family: $font-suisse-intl-reg
        color: $yellow
        margin-left: 3px
        margin-right: 5px
        font-size: 18px
        text-transform: uppercase
        @media screen and (max-width: 700px)
          font-size: 10px
          margin-left: 0

.en
  .you
    .table__row-item
      &:nth-of-type(1)
        &:after
          content: "you"



//en styles
.fav-page.en
  .promo
    @media screen and (max-width: 1050px)
      background-position: 0 0
    @media screen and (max-width: 700px)
      background-position: 50% 0
    &__title
      background: url("https://fav-prom.com/html/shakhtar-predictor/img/promo/title-desc-en.png") no-repeat 0 0/cover
      padding: 25px 20px 0 0
      &-text
        margin-right: -70px
      @media screen and (max-width: 1300px)
        padding: 25px 10px 0 0
        height: 210px
        width: 425px
        &-text
          font-size: 18px
          line-height: 26px
      @media screen and (max-width: 1050px)
        height: 150px
        width: 320px
        padding: 12px 0 0 0
        &-text
          font-size: 14px
          line-height: 19px
          margin-right: -50px
      @media screen and (max-width: 600px)
        background: url("https://fav-prom.com/html/shakhtar-predictor/img/promo/title-mob-en.png") no-repeat 0 0/cover
        width: 310px
        &-text
          max-width: 140px
          margin: -10px -40px 0 0
    @media screen and (max-width: 750px) and (max-height: 350px) and (orientation: landscape)
      &__match, &__title
        transform: scale(.7)
      &__match
        transform-origin: left top
      &__title
        transform-origin: bottom left
  .predict
    &__team1
      background: url("https://fav-prom.com/html/shakhtar-predictor/img/predict/left-team-desc-en.png") no-repeat 0 0/contain
      @media screen and (max-width: 1050px)
        background: url("https://fav-prom.com/html/shakhtar-predictor/img/predict/left-team-mob-en.png") no-repeat 0 0/contain
    &__team2
      background: url("https://fav-prom.com/html/shakhtar-predictor/img/predict/right-team-desc-en.png") no-repeat 0 0/contain
      @media screen and (max-width: 1050px)
        background: url("https://fav-prom.com/html/shakhtar-predictor/img/predict/right-team-mob-en.png") no-repeat 0 0/contain


